%ol
	%li
		=link_to("IT1 - Introduction to Modern Information Technology", "https://docs.google.com/document/d/17U0DNLUwzDfOaaVrHeh4eZ6AFpNZT8phxqJCiHHCUEc/edit?usp=sharing")
	%li CP2 - Object Oriented Programming with Ruby
	%li CP3 - Web Application Development with Ruby on Rails