%ol
	%li
		=link_to("IT1 - Introduction to Modern Information Technology", "https://docs.google.com/document/d/17U0DNLUwzDfOaaVrHeh4eZ6AFpNZT8phxqJCiHHCUEc/edit?usp=sharing", :target => "_blank")
	%li
		=link_to("CP2 - Object Oriented Programming with Ruby", "https://docs.google.com/document/d/19bbQoc8ybdN0VZK3qUCH7nt7eP9dr7ogf4sP-wlhcO8/edit?usp=sharing", :target => "_blank")
	%li
		=link_to("CP3 - Web Application Development with Ruby on Rails", "https://docs.google.com/document/d/1a7qTpupz3RaZBVEGjRcyn-qoNE1qjR10Jc7xPlkounc/edit?usp=sharing", :target => "_blank")
		