%ol
	%h4 2014-2015 Classes
	%li
		=link_to("IT1 - Introduction to Modern Information Technology", "https://docs.google.com/document/d/17U0DNLUwzDfOaaVrHeh4eZ6AFpNZT8phxqJCiHHCUEc/edit?usp=sharing", :target => "_blank")
	%li
		=link_to("CP2 - Object Oriented Programming with Ruby", "https://docs.google.com/document/d/19bbQoc8ybdN0VZK3qUCH7nt7eP9dr7ogf4sP-wlhcO8/edit?usp=sharing", :target => "_blank")
	%li
		=link_to("CP3 - Web Application Development with Ruby on Rails", "https://docs.google.com/document/d/1a7qTpupz3RaZBVEGjRcyn-qoNE1qjR10Jc7xPlkounc/edit?usp=sharing", :target => "_blank")

%p
	This year at ChiTech we will be embracing Project Based Learning, a popular and cutting edge education strategy similar to a Montessori education.
	Project-based learning is a dynamic approach to teaching in which students explore real-world problems and challenges.
	With this type of active and engaged learning, students are inspired to obtain a deeper knowledge of the subjects they're studying.
	Learn more #{link_to("here", "http://www.edutopia.org/project-based-learning")}.