%p
  Hi, my name is Kevin Musiorski.

%p
  My current prioirities are:
  %ul
    %li Become a powerful RoR developer so I can build (my) ideas
    %li Build Pair App
    %li Build Portfolio App
    %li Improve my raw Ruby skills via my apprenticeship at SnapClass
    %li Strengthen my knee after ACL surgery #2