%p
	Hi, my name is Kevin Musiorski.

%p
	My current prioirities are:
	%ul
		%li Portfolio App
		%li Pair App
    %li Improve my Ruby and TDD skills via my apprenticeship
    %li Prepare to make an income again
    %li Strengthen my knee after ACL surgery #2